body {
    background-color: rgba(255, 255, 255, 0.438);
    font: normal 1em arial;
}

header {
    background-color: rgb(76, 0, 255);
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 800px;
    margin: auto;
    
}

section {
    background-color: rgb(76, 0, 255);
    color: white;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192) ;
    font-weight: bold;
    
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    margin: auto;
    padding: 12px;
}

footer {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 370px;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-weight: bold;

}